*{
  /*background-color: #000000;*/
  background-color: #000000;
  position: relative;
  width: 100vw;
  color: white;
}

.container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}
/*
.top {
  width:100vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
}

.left {
  height: 90vh;
  width: 25vw;
  position: relative;
}


/* Left Side Sidebar done */
/*
.left .sidebar {
  background-color: #121212;
  border-radius: 10px;
  display: flex; 
  flex-wrap: wrap;
  width: auto;
  height: 15vh; 
}

.left .sidebar .App-logo {
  width: 100px;
  height: 28px;
  background-color: #121212;
  border-radius: 10px;
}

.left .sidebar h5 {
  color: white;
  list-style-type: none;
  background-color: #121212;
}
/* Left Side Sidebar ends */


/* Left Side Library done */
/*
.left .library {
  margin-top: 10px;
  background-color: #121212;
  border-radius: 10px;  
  position: relative;
  width: auto;
  height: 90vh; 
  color: white;  
}

.left .library h5 {
  color: white;
  list-style-type: none;
  background-color: #121212;
}

.left .library .first-playlist {
  margin: 5px;
  width: auto;
  height: 20px;
  background-color: #242424;
  border-radius: 8px;
}
.left .library .podcast {
  margin: 5px;
  width: auto;
  height: 20px;
  background-color: #242424;
  border-radius: 8px;
}*/
/* Left Side Library ends */


/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/